body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#A_AusCycling_img{
    margin: 0;
    float: left;
}

.A_navbar {
  height: 48px;
  overflow: hidden;
  background-color: #36362e;
  justify-content: space-between;
}

.A_navbar a {
  margin-left: 15px;
  float: left;
  font-size: 17px;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Moving Home to anywhere by changing the margin */
#A_Home{
    margin-left: 700px;
}

.A_dropdown {
  float: left;
  overflow: hidden;
}

.A_dropdown .A_dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #f1f1f1;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.A_navbar a:hover, .A_dropdown:hover .A_dropbtn {
  background-color: #f3eb0c;
  transition: all 0.3s ease 0s;
  color: #707070;
}

.A_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.A_dropdown-content a {
  margin-left: 0px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.A_dropdown-content a:hover {
  background-color: #ddd;
}

.A_dropdown:hover .A_dropdown-content {
  display: block;
}

/* Logout button */

#A_Logout_btn{
    color: #f9f9f9;
    font-size: 12px;
    background-color: #36362e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 9px 25px;
    margin-top: 6px;
    margin-left: 50px;
}

#A_Logout_btn:hover{
    background-color: #f3eb0c;
    color: #707070;
    transition: all 0.4s ease 0s

}

/* For updatePassword.html */

.A_UpdatePasswordDiv{
  margin-top: 0;
  background-color: #e6e6e6;
  padding-top: 40px;
  padding-bottom: 80px;
}

#A_ChangePasswordPageTitle{
  margin-left: 100px;
  color: #282A35;
}

.A_HomeDiv a{
  font-family: Helvetica;
  text-decoration: none;
  color: #282A35;
}

.A_HomeDiv a:hover {
  color: #7a7a7d;
  transition: all 0.3s ease 0s;
}